@font-face{
    font-family: "AkiraExpanded";
    src: url("../resources/fonts/AKIRAEXPANDED.OTF");
    font-style: normal;
    font-weight: normal;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

html,body{
    max-width: 100%;
    overflow-x: hidden;
}

body{
    background-color: #1f1f1f;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    flex-wrap: wrap;
}

.logo img{
    display: flex;
    justify-content: center;
    max-width: 40%;
    min-width: 500px;
    height: auto;
    margin: 0 auto;
}

.links-text{
    margin-top: -60px;
    margin-bottom: 10px;
    display: flex;
    font-size: 30px;
    font-family: AkiraExpanded;
    text-align: center;
    justify-content: center;
    color: white;
}

.links {
    max-width: 1300px;
    margin: 2vh auto;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    padding: 20px;
    overflow: hidden;
    position: relative;
}

.links a:hover svg g{   
    transition: fill 0.2s ease;
    fill: #703e87;
}
.links a:hover svg{
    animation: jump 0.2s ease;  
}

.block {
    align-items: center;
    text-align: center;
    padding: 20px;
}

.gif {
    display: block;
    margin: 0px auto;
    margin-top: 10vh;
    max-width: 100%;
}

.devider-top{
    background-color: white;
    height: 1px;
    width: 70%;
    max-width: 700px;
    margin: 0 auto;
}

.devider-bottom{
    background-color: white;
    height: 1px;
    width: 40%;
    max-width: 500px;
    margin: 0 auto;
}